section {
    background-color: #7AB8BF;
    border-radius: 20px;
    margin: 70px auto 70px auto;
    padding: 15px;
    width: 70%;
  }
  
  p {
    color: #ffffff;
    padding: 10px;
    margin-left: 12px;
  }
  
  .card {
    color: black;
  }
  
  .secoes {
    color: #A67458;
    margin-left: 15px;
  }

  section ul li {
    margin: 5px;
  }
