.item-portfolio {
    display: inline-block;
    border: 3px solid #3E848C ;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin: 100px;
}

.card {
    background-color: #3E848C;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

img {
    border-radius: 0;
    width: 40vh;
    height: 30vh;
}

@media only screen and (max-width: 480px) {
      img {
        width: 210px;
        height: 180px;
      }
  }