.item-portfolio {
    display: inline-block;
    border: 1px solid #3E848C ;
    border-radius: 15px;
    margin: 100px;
}

.card {
    background-color: #3E848C;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

img {
    border-radius: 0;
    width: 40vh;
    height: 30vh;
}

@media only screen and (max-width: 480px) {
      img {
        width: 180px;
        height: 150px;
      }
  }