
form {
    width: 30%; 
    margin: 100px auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #7AB8BF;
}

form fieldset {
    border: 0;
}

form fieldset label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: start;
    display: block;
    margin: 5px;
    color: #ffffff;
}

form fieldset input, textarea {
    width: 100%;
    outline: none;
}
