body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

h3 {
  color: #ffffff;
}


li {
  color: #ffffff;
}

.button {
  border: 0;
  border-radius: 10px;
  color: #245358;
  padding: 15px;
  font-weight: bold;
}


.button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #113d4279;
}

.button-li > a:hover {
  color: #d99c79;
}

.invalid {
  border: 2px solid red;
}

